body {
background-color: tint($background-color, 2%);
color: $font-color;
};

.quote {
background-color: $font-color; // gray
font-size: 30px;
};

$vertical-margin: 20px;
// .foo {
//   color: hsl( 300, 100%, 100% );
//   background: pink;
// }
//@import 'index'
